<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Version" value="V3.6.1.0 Build170301"/>
    <add key="DataServerDAL" value="SQLServerDAL"/>
    <add key="SyncTimeInterval" value="300" />
    <add key="SyncLscParamInterval" value="0" />
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="DataServiceConnectionString" connectionString="Data Source=127.0.0.1,1433;Initial Catalog=ISMCSC_CS;User ID=sa;Password=abc123;Pooling=True;Min Pool Size=5;Max Pool Size=500;Connect Timeout=300" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>