<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Version" value="V3.6.3.2 Build180929" />
    <add key="DataServerDAL" value="SQLServerDAL" />
    <add key="SyncTimeInterval" value="300" />
    <add key="SyncLscParamInterval" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="DataServiceConnectionString" connectionString="Data Source=127.0.0.1,1433;Initial Catalog=ISMCSC_CS_2_4;User ID=sa;Password=abc123;Pooling=True;Min Pool Size=5;Max Pool Size=500;Connect Timeout=300" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>